/* GLOBAL CSS */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2, 8rem;
}

li {
  font-size: 2rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}
/* HEADER */

nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 2rem;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* HERO */
.bg {
  background: url("images/logo-white.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
li {
  list-style: none;
  margin-left: 4rem;
}
.main-head li a:hover {
  color: rgba(255, 0, 0, 0.473);
}
ul {
  margin-left: 10rem;
}
.main-head {
  display: flex;
  justify-content: space-around;
}
.hero {
  min-height: 90vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h3 {
  padding: 4rem;
}

.button {
  padding: 2rem 6rem;
  background: rgba(210, 30, 30, 0.966);
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: 6rem;
  margin: 3rem;
}

.Paragraph {
  font-size: 1.5rem;
  font-family: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 55rem;
  margin-top: 6.5rem;
}

.hero h1 {
  font-size: 3rem;
  margin-top: 16rem;
}

.hero span {
  font-size: 1rem;
}

.hero span {
  display: block;
  font-family: var(--font-family);
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
}

.lgparagraph {
  text-align: center;
}

/*   What we do… */

.section-one {
  position: relative;
  height: 25rem;
  text-align: center;
  color: var(--section-one-color);
  background-color: white;
  color: #050507;
  padding: 3em;
  text-align: center;
  margin: 0 auto;
}

.heading {
  margin-top: 3rem;
  font-size: 2rem;
}

.first-paragraph {
  font-size: 1.5rem;
  font-family: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 55rem;
  margin-top: 6.5rem;
}

.holberton_school-icon-ic_sound,
.holberton_school-icon-ic_video,
.holberton_school-icon-ic_music,
.holberton_school-icon-ic_hearing {
  padding: -5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  color: #fc6d71;
}

.icons .item {
  display: flex;
  flex-direction: column;
}
.shortparag {
  padding-top: 1rem;
  margin-top: 0rem;
}

:root {
  --color-primary: #d73953;
  --button-color: #ff6565;
  --text-color: #080808;
  --font-family: Source Sans Pro;
  --font-size-icons: 130px;
}

.icons h2 {
  font-size: 4rem;
}

.icons span {
  font-size: 14rem;
}

.icons span {
  font-size: 120px;
}

.icons {
  text-align: center;
  padding: 3em;
  margin: 0 auto;
}

.icons span {
  font-size: 100px;
  color: #fc6d71;
}

.icons h2 {
  font-size: 19px;
  color: #0c0a0a;
}

.cards ul {
  flex-direction: column;
}

.icons p {
  font-size: 19px;
  color: #0c0a0a;
}

@media only screen and (max-width: 780px) {
  .icons {
    flex-wrap: wrap;
  }
}
